.intro{
    display: grid;
    grid-template-columns: 4fr 8fr;
}
.selfimage{
    padding-right: 10px;
    
}
@media only screen and (max-width: 600px) {
    .intro{
        display: grid;
        grid-template-columns: 1fr ;
    }
    img{
        width: 240px;
    }
    .selfimage{
        padding-right: 2px;
        
    }
    .selfintro{
        padding-top: 2px;
        padding-left: 4px;
    }
    .social-links{
        padding-top:3px ;
    }
  }

.selfintro{
    padding-top: 10px;
    padding-left: 20px;
}
.social-links{
    padding-top:15px ;
}