---
layout: default
---
<link rel="stylesheet" href="../assets/css/home.css">
<div class="intro">
<div class="selfimage">
  <img src="../assets/zyed.jpg" width="240px" />
</div>
<div class="selfintro">
<p> Hi, I am Sayed Maheen Basheer.
  <br>
  I am a Machine Learning Engineer and Data Scientist from Kerala, India
  
  
    I am looking for a Data Scientist role in such a company where there are research opportunities and lot of brainstorming needed.
    <br><br>
    I am a passionate coder and I am self motivated in learning new programming languages and technologies.
    I love Python and Javascript combination, Django, React and Nodejs</p>

</div>

</div>

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
